section {
  display: flex;
  justify-content: space-evenly;
}

.map {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  font-style: italic;
  color: red;
}

.fields {
  display: flex;
  justify-content: space-around;
}

