<h1>Bienvenue sur Retrobot</h1>
<section>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Potions</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/potions.png">
      <mat-card-content>
        <p>
          Afin de faciliter vos déplacements, positionnez vos potions de cité et de rappel en haut à gauche de cette manière
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Sorts</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/img/spells.png">
      <mat-card-content>
        <p>
          Placez également votre sort principal à distance à droite de l'attaque au corps à corps
        </p>
      </mat-card-content>
    </mat-card>



</section>
