<h4>Itinéraire</h4>
<section>
  <mat-button-toggle-group [(value)]="drawPathMode"
                           [vertical]="true">
    <mat-button-toggle value="move">
      <mat-icon>directions_run</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="harvest">
      <mat-icon>content_cut</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="bank">
      <mat-icon>account_balance</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="startMap">
      <mat-icon>flag</mat-icon>
    </mat-button-toggle>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>monetization_on</mat-icon>
    </button>
  </mat-button-toggle-group>

  <app-map-container (clickOnCell)="onClickOnCell($event)"></app-map-container>

  <mat-button-toggle-group [(value)]="direction"
                           [vertical]="true">
    <mat-button-toggle value="top">
      <mat-icon>expand_less</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="right">
      <mat-icon>chevron_right</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="left">
      <mat-icon>chevron_left</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="bottom">
      <mat-icon>expand_more</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="delete">
      <mat-icon>delete</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</section>


<mat-menu #menu="matMenu">
  <button mat-menu-item *ngFor="let bank of banklist" (click)="changeBank(bank.coords)">{{bank.name}}</button>
</mat-menu>
